.idea/
.vscode/
__pycache__/
*.py[cod]
dist/
*.egg-info/
build/
htmlcov/
site/
.coverage*
__pypackages__/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.python-version
.venv/
.cache/
.env
